<header>
    <div class="header">
        <nav class="header__navigation">
            <button class="header__button"><img class="header__hamburger" src="{{asset "img/Hamburger.svg"}}" alt="Hamburger Navigation Icon"></button>
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
            {{#is "post"}}
                <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
            {{/is}}
        </nav>
        {{#if @site.logo}}
            <a class="header__logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"/></a>
        {{else}}
            <a class="header__logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
    </div>
</header>