<aside class="content content__post">
    {{#next_post}}
        <hr />
        <a href="{{url}}" title="{{title}}">
            <section >
                <h2>{{title}}</h2>
                <p>{{excerpt words="12"}}&hellip;</p>
                <p>
                    <time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMM YYYY"}}</time>
                </p>
            </section>
        </a>
    {{/next_post}}
    <hr />
    {{#prev_post}}
        <a href="{{url}}" title="{{title}}">
            <section>
                <h2>{{title}}</h2>
                <p>{{excerpt words="12"}}&hellip;</p>
                <p>
                    <time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMM YYYY"}}</time>
                </p>
            </section>
        </a>
        <hr />
    {{/prev_post}}
</aside>