<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="{{asset "style.css.min"}}"/>

    {{ghost_head}}
</head>
<body class="{{body_class}}">
{{{body}}}

<script src="{{asset "js/script.js"}}"></script>
{{ghost_foot}}
</body>
</html>