{{!< default}}
{{> "header"}}
{{#post}}
    <main class="post">
        <div class="post__inner">
            <article class="content content__post">
                <section class="post__header">
                    <h1 class="post_tittle">{{title}}</h1>
                </section>
                <figure class="post__image">
                    <img srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                         sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px"
                         src="{{img_url feature_image size="xl"}}"
                         alt="{{title}}"
                    />
                </figure>
                <div class="post__content">
                    {{content}}
                </div>
                <section class="post__tags">
                        {{#if tags}}
                            <p class="post__tags__text">Schlagwörter:</p>
                            <ul class="post__tags__ul">
                                {{#foreach tags}}
                                    <li class="post__tags__li">
                                        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                    </li>
                                {{/foreach}}
                            </ul>
                        {{/if}}
                </section>
                {{> "author-post"}}
            </article>
        </div>
    </main>
{{/post}}